p{
    border-style: dashed;
    border-color: #ffaaff;
}

p2{
    background-color: rgb(23, 121, 233);
    background-size: initial;
    color: white;

}
p3{
    background-color: rgb(53, 168, 134);
}